.features__list {
  outline: 1px solid darkslateblue;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}


.features__item {
  @media screen and (max-width: 767px) {  
    &:not(:last-child) {
      margin-bottom: 30px;
  }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.features__title {
  margin-bottom: 10px;

  color: $secondary-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;  
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
}

.features__thumb {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-body-bg-color;
}
