.nav-menu {
  display: flex;
}

.nav-menu__item {
  &+ & {
    margin-left: 50px;
  }
}

.header-contact__item {  
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.nav-menu__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-color;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .header-contact__icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    
    &--phone {
      width: 10px;
      height: 14px;
    }
  }
}